.custom-table .ant-table-thead .ant-table-cell {
  background-color: rgba(226, 232, 240, 1) !important;
  border: 1px solid "E2E8F0" !important;
}

#handsontable-container {
  width: 100%;
  height: 100%;
}

.custom-handsontable {
 
  /* Replace with your desired color */
}

.white-background {
  background-color: white;
  /* Setting the background to white */
}

.center-align {
    text-align: center;
      line-height: 30px;
      /* Adjust if necessary to match your cell height */
      vertical-align: middle;
      font-weight: bold;
      color: red;
      /* Text color */
      background-color: yellow;
      /* Background color */
    
}